body{
    background-color: rgb(244, 255, 180);
    font-family: Verdana, sans-serif;
}
body .header{
    text-align: center;
}
body .container{
    background-color: #f3bd77;
    padding: 10px;
    margin: 0px 40px;
    
}
/* slideshow style -------------------------------------------------*/

* {box-sizing: border-box;}
            
.mySlides {
    display: none;
    overflow: hidden;
    max-height: 250px;
}
img {
    vertical-align: middle;
    margin-top: -100px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* ------------------------------------------------------------------- */
/* Navi juosta-------------------------------------------------------- */
.container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.container .slideshow-container{
    margin-top:10px;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.header a{
    text-decoration: none;
    color: #111;
}
/* user navi */
.logOutButton{
    background-color: rgb(63, 17, 17);
    float: right;
}
.logOutButton a:hover{
    background-color: rgb(122, 3, 3)
}
/* -------------------------------------------------------------------- */
/* sign in ------------------------------------------------------------ */
.content{
    display: flex;
}
/* rezervuoti staliuka .content a (user-rezerv-table.php) ----------------*/
.content .login, .register, .content a{
    overflow: hidden;
    float: left;
    margin: 10px auto;
    background-color: #f1c790;
    padding: 15px;
    text-align: center;
}

form p{
    margin: 0 auto;
}
form #loginSubmit, #registerSubmit{
    padding: 5px;
    margin: 5px auto;
}
.register input{
    margin: 5px 30px;
}
form input{
    text-align: center;
}
form a{
    text-decoration: none;
    color: #111;
}
/* -------------------------------------------------------------------- */
/* sad img -------------------------------------------- */
.sadImgDiv{
    text-align: center;
    padding: 10px;
}
.sadImg{
    max-width: 100px;
    margin: auto;
}
.happyImg, .mapImg{
    margin: auto;
}
/* user-reserv-table----------------------------------------------------- */
.helloText{
    text-align: center;
}
/* ---------------------------------------------------------------------- */
/* user-profile---------------------------------------------------------- */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
}
.update{
    margin: 0px 20px;
}
.itemRow{
    text-align: center;
    margin: 5px auto;
}
/* ---------------------------------------------------------------------- */
/* food reservation------------------------------------------------------ */
a div h3{
    text-decoration: none;
    color: #111;
}
.birdView{
    text-align: center;
}
.birdView img{
    margin: auto;
}
.peopleCount{
    margin: 10px auto;
    text-align: center;
}
/* ---------------------------------------------------------------------- */
/* staliukai------------------------------------------------------------- */
#parent form button{
    background-color: transparent;
    border: none;
}
/* ---------------------------------------------------------------------- */
/* Maisto meniu --------------------------------------------------------- */
.foodMenu{
    margin: auto;
    text-align: center;
}
.dishesMeniu{
    text-align: center;
}
.dishesFL{
    font-weight: bold;
    display: flex;
    background-color: #f1c790;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: rgb(134, 101, 101) solid 3px; 
}
.dishesFL div{
    width: 33%;
}
.dishes{
    display: flex;
    background-color: #f1c790;
    border-bottom: rgb(134, 101, 101) solid 1px; 
}
.dishes div{
    width: 33%;
    padding: 10px 10px;
}
/* ---------------------------------------------------------------------- */
/* footer---------------------------------------------- */
footer{
    text-align: center;
}
/* Staliukai------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */